.p{
    margin-left: 100px;
    margin-right: 100px;
}
.main{
    height: 100vh;
}

.left{
    background-color: rgb(255, 255, 255);
}

.right{
    background-color: #6C757D;
}

.title{
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
}

.title2{
    font-size: 2.5rem;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
}

.left > p{
    font-size: 1.55rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 10px;
}

.termos, .login-btn{
    color: white;
    margin-bottom: 10px;
}

.login-btn{
    margin-top: 10px;
}

.termos > a{
    color: rgb(255, 255, 255);
}

.login-btn > a{
    color: white;
}

.cadastro-btn{
    background-color: #FFD333;
}
.cadastro-btn:hover {
    background: #cfab29;
    color: #fff;
    text-shadow: none;
}



@media (max-width: 768px) {
    
}