{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E Store - eCommerce HTML Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/produtos.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'img' %}">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link active">Início</a>
                            <a href="product-list.html" class="nav-item nav-link">Categorias</a>
                            <a href="product-detail.html" class="nav-item nav-link">Contato</a>
                            <a href="cart.html" class="nav-item nav-link">Sobre</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Configurações</a>
                                <div class="dropdown-menu">
                                    <a href="wishlist.html" class="dropdown-item">Tema</a>
                                    <a href="login.html" class="dropdown-item">Registro</a>
                                    <a href="contact.html" class="dropdown-item">Preferências</a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Conta</a>
                                <div class="dropdown-menu">
                                    <a href="login" class="dropdown-item">Login</a>
                                    <a href="cadastro" class="dropdown-item">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'img/logo-1.png' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->       
        
    
        <!-- Category Start-->
        
        <!-- Category End-->       
        
        <!-- Featured Product Start -->
        
            <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>ZOOM</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName1">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-1.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price1"></h3>
                                <a class="btn" href="" id="link1"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName2">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-2.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price2"></h3>
                                <a class="btn" href="" id="link2"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName3">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-3.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price3"></h3>
                                <a class="btn" href="" id="link3"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName4">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-4.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price4"></h3>
                                <a class="btn" href="" id="link4"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Product End -->       
        
        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>AMAZON</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName5">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-5.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price5"></h3>
                                <a class="btn" href="" id="link5"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName6">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-6.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price6"></h3>
                                <a class="btn" href="" id="link6"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName7">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-7.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price7"></h3>
                                <a class="btn" href="" id="link7"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a class="name-procuto" id="phoneName8">Aguardando nome do telefone...</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{% static 'img/cell-8.jpg' %}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3 id="price8"></h3>
                                <a class="btn" href="" id="link8"><i class="fa fa-shopping-cart"></i>Link</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Recent Product End -->
    
             
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
