{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">
</head>

<body>

    <div id="main2" class="main uk-flex" uk-container-expand>
        <div id="right" class="right uk-width-1-2 uk-flex uk-flex-center">
            <form id="form" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                {% for message in messages %}
                {% if 'login_incorreto' in message.tags %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{ message   }}</p>
                </div>
                {% endif %}
                {% endfor %}

                <h1 class="title2">Login</h1>

                <div class="uk-margin uk-text-center">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon" uk-icon="icon: mail"></span>
                        <input id="email" name="email" class="uk-input uk-form-width-large" type="email"
                            aria-label="Not clickable icon" placeholder="Email" required oninput="emailValidation()">
                    </div>
                </div>

                <div class="uk-margin uk-text-center">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                        <input id="pass" name="password" id="password" class="uk-input uk-form-width-large" type="password"
                            aria-label="Not clickable icon" placeholder="Senha" required oninput="passwordValidation()">
                    </div>
                </div>


                <div class="termos"><a href="#" uk-toggle>Esqueci a senha</a></div>



                <button id="btn-submit" class="cadastro-btn uk-button uk-button-primary uk-button-large uk-width-1-1"
                    type="submit">Login</button>
                <div class="login-btn">Não tem conta? Faça o <a href="{% url 'cadastro' %}">cadastro</a></div>
            </form>
        </div>

        <div id="left" class="left uk-width-1-2 uk-flex uk-flex-column uk-flex-center uk-text-center">
            <h2 class="title">PromoGroup</h2>
            <p>Acesse sua conta com facilidade e rapidez, desbloqueando um mundo de possibilidades personalizadas ao seu alcance. Simplifique seu acesso e comece a explorar nossa plataforma com apenas alguns cliques.</p>
        </div>
    </div>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/resize.js' %}"></script>
</body>
